body{
    font-family: 'Poppins', sans-serif; 
    margin: 0em;
}
div.container{
    margin: 2em, 5em;
}
div.logo{
    font-weight: bolder;
    font-style: italic;
    font-family: cursive;
    font-size: 1.5rem;
    margin-left: 1em;
    span{
        color: blue;
    }
}
div.top-bar{
    display: flex;
    margin-top: 1em;
    
    
    div.primary-navigation{
        display: none;
    }
    div.secondary-nav{
        display: none;
    }
    div.menu{
        width: 2em;
        margin-left: 90%;
        
        justify-content: space-between;
       

        position: absolute;
        
    }
}
section.top-section{
    background-color: rgba(224, 222, 222, 0.512);
    margin: 2em , 10%;
    
    gap: 2em;
    
    div.heading-section{
        text-align: center;
        gap: 2em;
        p.divide{
            height: 5em;
        }
        span.sub-heading{
            margin: 10em 3em ;

            font-size: 1rem;
            letter-spacing: .2rem;
            color: rgb(79, 77, 77);
            text-align: center;
            font-weight: bold;
        }
        p.watch-a-video{
            display: flex;
            margin: .95em 38%;
            
            gap: .75em;
            
            a.watch{
                text-decoration: underline;
                color: rgb(102, 101, 101);
                text-align: center;
            }
            svg{
                width:2em ;
            }
        }
       p.main-heading{
        text-align: center;
        font-size: 2.2rem;
        font-weight: bolder;
        margin: 1em 2em;
        }
        a{  
            text-decoration: none;
            span.try-for-free{
                border-radius: 35px;
                border: rgba(0, 136, 255, 0.745) ;
                font-weight: bold;
                background-color: rgba(0, 136, 255, 0.745);
                color: white;
                font-size: 2rem;
            
            }
    }
    }

    div.hero-img{
        
        img{
            width:60%;
            margin-left: 20%;
        }
       
       }
    
}
div.mid-section-1{
    background-color: rgb(30, 34, 49);
    margin: 0%;
    hr{
        margin: 0%;
        color:grey ;
    }
    div.mid-content{
        margin-top: 10%;
        margin-bottom: 10%;
        margin-right: 5%;
        color: white;
        font-weight: 400;
        letter-spacing: .07em;
        line-height: 7vh;
        
        ul.features{
            list-style-type: none;
            div.check{
                svg{
                    path{
                        stroke: rgba(14, 212, 14, 0.717);
                        fill: rgba(14, 212, 14, 0.717);
                    }
                }
            }
            li{
                display: flex;
                align-items: center;
                gap: 1em;
            }
            
            
        }
        
    }
}
div.mid-section-2{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 3;
    background-color: rgba(22, 117, 234, 0.888);
    margin-top: 0%;
    div.review{
        border-radius: 30px;
        margin: 15% 20%;
        background-color: rgba(36, 85, 199, 0.387);
        text-align: center;
        color: white;
        font-size: 1rem;
        font-family: cursive;
        img{
            position: absolute;
            width: 5em;
            height: 5em;
            border-radius: 50%;
            margin: -10% -10%;
        }
        
    }
}
div.last-section{
    background-color: rgba(128, 128, 128, 0.188);
    
    
    
    display: grid;
    grid-template-columns: 1;
    div.contact-us{
        margin: 15% 3em;
        form{
            textarea{
                columns: 40;
            }
        }
        input{
            border-radius: 5%;
            height: 2em;
            width: 70%;
        }
        input.send{
            background-color: rgba(0, 136, 255, 0.745);
            width: 70%;
            margin: 10% 5%;
            border-radius: 10px;
            border:  rgba(0, 136, 255, 0.745);
            color: white;
            letter-spacing: .15rem;
            font-size: 1.15rem;
            font-weight: bold;
        }
        h3{
            font-size: 2rem;
        }
        p{
            font-size: 1.5rem;
            font-weight: 400;
        }
    }
}
div.map{
    background-color:  rgba(128, 128, 128, 0.188);
    iframe{
        
        margin-top: 5%;
        margin-left: 8%;
        margin-bottom: 10%;
        width: 16em;
        height: 16em;
    }
}
hr{
    margin: 0%;
    height: 0%;
    
}
@media only screen  and (min-width: 760px){
    div.top-bar{
        display: flex;
        margin-top: 1em;
        align-items: center;
        gap: 3.5em;
        
        
        div.primary-navigation{
            display: flex;
            
            ul{
                list-style: none;
                display: flex;
                gap: 2em;
                li{
                    a{
                        text-decoration: none;
                        font-size: 1rem;
                        color: grey ;
                        &:hover{
                            font-size: 1.25rem;
                            font-weight: bold;
                            color: black;
                        }
                    }
                }
            }
            
            
            
            
            
        }
        div.secondary-nav{
            display: flex;
            ul{
                display: flex;
                gap: 1.5em;
                list-style-type: none;
                align-items: center;
                li.premium{
                    svg{
                        width: 2em;
                    }
                    span{
                            display: none;
                    }
                    &:hover{
                        span{
                            display: flex;
                            background-color:white ;
                            border-radius: 8px;
                            color: rgba(0, 136, 255, 0.745);
                            border-color:rgba(0, 136, 255, 0.745) ;
                            border-width: .25e;
                            font-weight: 600;
                            font-size: 1rem
                        }
                        svg{
                            display: none;
                        }
                    }

                }
                li{
                    a{
                        color: grey;
                        text-decoration: none;
                        font-size: 1rem;
                        span{
                            background-color:rgba(0, 136, 255, 0.745) ;
                            color: white;
                            font-weight: 600;
                            border-radius: 8px;
                            &:hover{
                                color: black;
                                font-size: 1.25rem;
                            }

                        }
                        
                    }
                }
                
            }
            

                
            
            
        }
        div.menu{
            display: none;
            
        }
    }
    div.mid-section-1{
        div.mid-content{
            ul{
                display: flex;
                gap: 1em;
                div{
                    li{
                        font-size: 1em;
                    }
                }
            }
            
            
            
            
        }
    }
    div.mid-section-2{
        div.review{
            #R1{
                margin-top: 20%;
                margin-bottom: 5%;
            }
            #R2{
                margin-top: 0%;
            }
            img{
                margin-left: -7%;
                margin-top: -8%;
            }
        }
    }
    div.last-section{
        div.contact-us{
            form{
                input{
                    width: 90%;
                }
                textarea{
                    width: 90%;
                }
                input.send{
                    width: 50%;
                    font-size: 2rem;
                    margin-left: 3%;
                }
            }
        }
    }
    div.map{
        iframe{
            width: 90%;
            height: 30em;
            margin-left: 5%;
        }
    }

}
@media only screen  and (min-width: 920px){
    div.top-bar{
        gap: 9em;
        div.seconday-nav{
            float: right;
            position: unset;
            
        }
    }
}
@media only screen  and (min-width: 1030px){
    div.top-bar{
        gap: 12em;
    }
}
@media only screen  and (min-width: 1200px){
   
    
}


